
.done{
    text-decoration: line-through;
    font-style: italic;
}

#priorityBtn{
    padding: 5.5px;
}

.todoList{
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.todoBtnGroup{
    width: 100%;
    padding: 0;
}

#todoBtn{
    width: calc(100% - 118px);
    background-color: rgba(230,230,230,1);
    border: rgba(200,200,200,1) thin solid;
    text-align: left;
    margin-bottom: 0;
    font-size: 1em;
    height: 42px;
}

.bg-grey{
    background-color: rgba(0,0,0,0.3);
    color: white;
}

.iconBtn{
    width: 40px;
    padding-left: 3px;
    padding-right: 3px;
}

.material-icons{
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}
.smallIcon{
    padding-top: 5px;
    font-size: 1em;
}

.red{
    background-color: rgba(255,0,0,0.3);
}
.orenge{
    background-color: rgba(255,100,0,0.3);
}
.green{
    background-color: rgba(100,255,0,0.3);
}

.list-group-item{
    margin-top: 2px;
    padding: 0;
    border: none;
}

.glyphicon{
    padding: 3px;
}

.card{
    background-color: rgba(255,255,255,0.9);
    margin-bottom: 0;
}

.card-block{
    position: relative;
}